<h1>Military Friendly Schools</h1>
<section>
  <p>The following are a listing of military friendly online schools.</p>
  <p>Click on the school's name to see their profile.</p>
</section>

<table class="table table-striped">
  <thead>
    <tr>
      <th><h3>School Name</h3></th>
    </tr>
  </thead>
  <tbody>
    
    {{#each schools}}
      {{#if school_name}}
        <tr>
          <td>
            <a href="/profile/{{nice_name}}/{{id}}?offset={{back_button}}">
              {{school_name}}
            </a>
          </td>
        </tr>
      {{/if}}
    {{/each}}

  </tbody>
</table>

<nav>
  <ul class="pagination">
    {{#each pagination}}
      {{#if active}}
        <li class="active"><span>{{page}}</span></li>
      {{else}}
        <li><a href="/?offset={{offset}}">{{page}}</a></li>
      {{/if}}
    {{/each}}
  </ul>
</nav>